<h2><%= @brand.name() %></h2>

<% if @brand.stores.any?() %>
  <h4>Can be found at these stores:</h4>
  <ul>
    <% @brand.stores.each() do |store| %>
      <li><a href='/stores/<%= store.id() %>'><%= store.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <h4>This brand is not in any stores yet!</h4>
<% end %>

<h3>Update Brand Name</h3>
<form action="/brands/<%= @brand.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <input id="brand_name" name="brand_name" placeholder="New Brand Name">
  </div>
  <button type="submit" class="btn btn-info">Rebrand</button>
</form>

<h3>Delete Brand</h3>
<form action="/brands/<%= @brand.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
