<h2><%= @store.name() %></h2>

<% if @store.brands.any?() %>
  <h3>Current Brands Available</h3>
  <ul>
    <% @store.brands.each() do |brand| %>
      <li><%= brand.name() %></li>
    <% end %>
  </ul>
<% else %>
  <h3>No Brands Available Yet!</h3>
<% end %>

<h3>Add a Brand</h3>
<form action="/stores/<%= @store.id() %>" method="post">
  <% @brands.each() do |brand| %>
    <% unless brand.store_ids.include?(@store.id()) %>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="brand_ids[]" value="<%= brand.id() %>"><%= brand.name() %>
      </label>
    </div>
    <% end %>
  <% end %>
  <button type="submit" class="btn btn-success">Add Brand</button>
</form>

<h3>Change Store Name</h3>
<form action="/stores/<%= @store.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <input id="new_name" name="new_name" placeholder="New Name">
  </div>
  <button type="submit" class="btn btn-info">Change Name</button>
</form>

<h3>Delete Store</h3>
<form action="/stores/<%= @store.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Delete Store</button>
</form>
